html{
    background-color: rgb(83, 149, 241);
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.c1{
    padding: 10px;
}

h1{
    padding-top: 20px;
    font-size: 180%;
    font-family: Arial, sans-serif;
    font-weight:lighter;
}

.c2{
    padding: 0px;
}

.c21{
    font-family: Arial, sans-serif;
    font-weight: normal;
    padding-top: 20px;
}
.c22{
    font-family: Arial, sans-serif;
    font-weight: normal;
    padding: 0px;
}

.c23{
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 0px;
}

